.custom-row {
    --background: blue;
}

.cabecalho{
    background-color: rgba($color: #b3b3b3, $alpha: 1.0);
    border-radius: 5px;
}
.corpo{
    background-color: rgba($color: #e4e4e4, $alpha: 1.0);

}
.select{
    background-color: yellow;
}

.resultado{
    display: block;
}

.resultadoHidden{
    display: none;
}

.corpo:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
